*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


body
{
    background-image: url(shalom.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 85px;
    
}
.menuBar
{
    background-color: rgb(218, 165, 32, 0.8);
    text-align: center;
}
.menuBar ul
{
    text-transform: capitalize;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    display: inline-flex;
    list-style: none;
   
}
.menuBar ul li
{
    margin: 15px;
    padding: 10px;
    width: 110px;
}
.menuBar ul li a
{
    text-decoration: none;
    color: white;
}
.active, .menuBar ul li:hover
{
    background-color: rgb(218, 165, 32);
    border-radius: 3px;
}
.menuBar .fa
{
    margin-right: 8px;
}
.submenu1
{
    display: none;
}
.menuBar ul li:hover .submenu1
{
    display: block;
    position: absolute;
    background-color:  rgb(218, 165, 32);
    margin-top: 12px;
    margin-left: -15px;
}
.menuBar ul li:hover .submenu1 ul
{
    display: block;
}
.menuBar ul li:hover .submenu1 ul li
{
    text-align: left;
    border-bottom: 1px dotted;
    padding: 15px;
    width: 150px;
}
.menuBar ul li:hover .submenu1 ul li:last-child
{
    border-bottom-style: none;
}
.menuBar ul li:hover .submenu1 ul li:hover
{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}
.submenu1 .fa
{
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------*/
.submenu2
{
    display: none;
}
.submenu1 ul li:hover .submenu2
{
    display: block;
    position: absolute;
    margin-top: -45px;
    margin-left: 135px;
    background-color: rgb(218, 165, 32);
}
/*----------------------------------------------------------------------------------------------*/
.checkbtn
{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 65px;
    margin-right: 50px;
    display: none;
}
#check
{
    display: none;
}
